#footer{
    display: flex;
    flex-direction: row;
    height: auto;
}
#footer div{
    width: 520px;
    height: 300px;
    text-align:center;
    position: relative;
}
#footer div li {
    text-align: left;
    padding: 20px 0 0 0;
}
#footer div a{
    color: white;
}
.v1{
    border-left:2px double;
    border-color: #273157;
    text-align: left;
}
#buttom {
    position:absolute;
    bottom:0;
    right: 0;
}

#createur li{
    padding: 5px;
}

#fstt{
    position: absolute;
    top: 130px;
    right: 50px;
}
#logo{
    position:relative;
    height: auto;
    top: 20px;
}
h3{
    text-decoration:underline ;
    color: #273157;
}

.v2{
    border-left: 2px double;
    border-color: #273157;

    height: auto;
}

#footer ul{
    list-style: none;
    padding: 0 0 0 6px;
}

#footer ul li::before{
    content: "•";
    color: #273157;
}
